
body{
    font-family: 'IM Fell English', serif!important;
    background: #444a5a!important;
}

.container {
    width: 200px;
}

.card{
    background-color: lightgrey;
    text-align: center;
}

.card-body {
    background-color: white
}

.card-text {
    text-align: left;
}

ol {
    padding-left: 10px;
}

.row {
    margin-bottom: 25px;
}

.jumbotron{  
    background: url("../images/header3.jpg");
    background-size: 100%;
    font-family: 'IM Fell English', serif;
    font-weight: black 900;
    color: #fff; 
}

h1{
    text-align: center;
    font-style: antiquewhite;
    font-weight: bolder;
}

.submit-results {
    font-family: 'IM Fell English', serif;
    text-align: center;
}

#intro-text {
    margin-top: -32px;
    text-align: center;
    color: white;
    background: #000018;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    box-shadow:5px 5px 5px grey;  
}

/* .steps-stuff {
    font-size: 24px;
    font-weight: bolder;
} */

#steps{
    font-size: 16px;
    color: maroon;
    font-weight: bold;
    text-align: center;
}

.name-container {
    color:black;
}

.kb-box{
    background: white;
    box-shadow:5px 5px 5px grey;
    border-radius: 15px;
    text-align: center;
}

.sliders-area {
    background:white;
    border-radius: 15px;
}

#question{
    font-size: 16px;
}

/* Slider color - Intelligence */
#intel-slider .slider-selection {
    background:#356991;
}

/* Slider color - Strength */
#stren-slider .slider-selection {
	background: #356991;
}

/* Slider color - Speed */
#speed-slider .slider-selection {
	background:#356991;
}

/* Slider color - Durability */
#durab-slider .slider-selection {
	background: #356991;
}

/* Slider color - Power */
#power-slider .slider-selection {
	background: #356991;
}

/* Slider color - Combat */
#combat-slider .slider-selection {
	background: #356991;
}

#user-input{
    /* font-weight: bold; */
    font-size: 16px;
    /* font-family: 'IM Fell English', serif; */
}

#intel-value, #stren-value, #speed-value, #durab-value, #power-value, #combat-value {
    color: #356991;
    font-size: 36px;
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

#results-title{
    font-family: 'IM Fell English', serif;
    font-size: 20px;
    background: #4781a6;
    color: #fff;
}

.card-img-top {
    width: 200px;
    height: 267px;
}

#friends-card {
    width: 200px;
    height: 617px;  
    float: left;
    margin-right: 20px;
    margin-bottom: 25px;
}

.card-title{
    font-weight: bold;
}

#matched-stats-div {
    display: inline-grid;
 }