
body{
    font-family: 'IM Fell English', serif!important;
    background: #444a5a!important;
}

.card{
    background-color: lightgrey;
    text-align: center;
}

.card-body {
    background-color: white
}

.card-text {
    text-align: left;
}

ol {
    padding-left: 10px;
}

.row {
    margin-bottom: 25px;
}

.jumbotron{  
    background: url("../images/header3.jpg");
    background-size: 100%;
    font-family: 'IM Fell English', serif;
    font-weight: black 900;
    color: #fff; 
    
}

h1{
    text-align: center;
    font-style: antiquewhite;
    font-weight: bolder;
}

.submit-results {
    font-family: 'IM Fell English', serif;
    text-align: center;
}

#intro-text {
    /* font-family: 'IM Fell English', serif; */
    margin-top: -32px;
    text-align: center;
    color: white;
    background: #000018;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    padding: 10px;
    box-shadow:5px 5px 5px grey;  
}

.steps-stuff {
    /* font-family: 'IM Fell English', serif; */
    font-size: 30px;
    /* color: #4781a6; */
    font-weight: bolder;
}

.name-container {
    color:black;
    background:#EAEAEA;
    border-radius: 15px;
    /* padding: 10px; */
}

.form-group {
    font-family: 'IM Fell English', serif;
    font-size: 25px;
}

.sliders-area {
    background:#EAEAEA;
    border-radius: 15px;
}

#question{
    font-size: 25px;
    font-weight: bold;
}

/* Slider color - Intelligence */
#intel-slider .slider-selection {
    background:#356991;
}

/* Slider color - Strength */
#stren-slider .slider-selection {
	background: #356991;
}

/* Slider color - Speed */
#speed-slider .slider-selection {
	background:#356991;
}

/* Slider color - Durability */
#durab-slider .slider-selection {
	background: #356991;
}

/* Slider color - Power */
#power-slider .slider-selection {
	background: #356991;
}

/* Slider color - Combat */
#combat-slider .slider-selection {
	background: #356991;
}

/* .intro {
    font-family: 'IM Fell English', serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
} */

#user-input{
    font-weight: bold;
    font-size: 20px;
    font-family: 'IM Fell English', serif;
}

#intel-value, #stren-value, #speed-value, #durab-value, #power-value, #combat-value {
    color: #356991;
    font-size: 36px;
    font-weight: bold;
}
/* span{
    color: #4781a6;
    font-size: 30px;
} */

h6 {
    font-weight: bold;
}

#results-title{
    font-family: 'IM Fell English', serif;
    font-size: 20px;
    background: #4781a6;
    color: #fff;
}

.card-img-top {
    width: 100%;
    max-height: 397.33px;
}

#friends-card {
    width: 300px;  
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}
