.output {
    font: 1rem 'Fira Sans', sans-serif;
}

label {
    /*margin-top: 1rem;*/
    display: block;
    /*font-size: .8rem;*/
    font-size: 1rem;
}
#submit-image {
    /*margin-top: 10px;*/
  }
.field-set{
    border:1px solid black;
    border-radius: 5px;
    padding-left: 20%;
   padding-right: 20%;
    padding-bottom: 10%;
    overflow:hidden;
    display: inline-block;
    background-color : white;
}
#image-input{
    /*overflow:hidden;*/
    /*height:0;*/
    display:none;
}
.image-input-wrapper{
    overflow:hidden;
    height:auto;
}
.preview p{
    color: red;
}
form{
    margin-right: 50px;
}
/*input[type='file'] {
    color: transparent;
  }*/

 /* #hide {
    display: inline-block;
  }
  #hide input[type=file] {
    display:none;
  }*/